{{#> layout currentPage="Home"}}
{{#if messages.success}}
      <div class="alert alert-success mx-5" role="alert">
        {{messages.success}}
      </div>
  {{/if}}
<main class="main=content">
 <!-- profile -->
 <div class="home">
  <div class="home-page">
    <h1>My Profile</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod nemo tenetur saepe consectetur neque quibusdam eius ratione tempora a
      cupiditate eligendi ut inventore pariatur, incidunt nulla expedita ad
      rem magni!
    </p>
    <a href="/contact" class="biru"> Contact </a>
    <br>
    <br>
    <p>
      Download CV
      <a href="https://drive.google.com/drive/folders/1tXtEe_6F-ycHiUufK4r1o1ppRfnuFaaT?usp=sharing"
        ><img
          style="width: 20px; padding-left: 5px"
          src="assets/img/downloads.png"
          alt="icon download"
      /></a>
    </p>
    <div class="sosmed">
      <a style="padding: 10px" href="https://www.instagram.com/alfin_salam?igsh=YzljYTk10Dg3Zg=="
        ><img src="assets/img/instagram.png"
      /></a>
      <a style="padding: 10px" href="https://x.com/alfin__salam?t=UAvQ364r1oUoZh99b-Kitg&s=08"
        ><img src="assets/img/twitter.png"
      /></a>
      <a style="padding: 10px" href="https://github.com/alfinsalam/personalWeb.git"
        ><img src="assets/img/git.png"
      /></a>
    </div>
  </div>
  <div class="profil">
    <img
      src="assets/img/profile.jpg"
      style="
        display: flex;
        justify-content: right;
        width: 200px;
        border: 1px solid rgb(204, 197, 197);
        border-radius: 15px;
      "
    />
    <h2 style="text-align: center">Alfin abdussalam</h2>
    <p style="text-align: center">Fullstack Developer</p>
  </div>
</div>
{{/layout}}
