{{#> layout currentPage="Home"}}
<main class="main=content">
 <!-- profile -->
 <div class="home">
  <div class="home-page">
    <h1>My Profile</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod nemo tenetur saepe consectetur neque quibusdam eius ratione tempora a
      cupiditate eligendi ut inventore pariatur, incidunt nulla expedita ad
      rem magni!
    </p>
    <a href="#" class="biru"> Contact </a>
    <br>
    <br>
    <p>
      Download CV
      <a href="#"
        ><img
          style="width: 20px; padding-left: 5px"
          src="assets/img/downloads.png"
          alt="icon download"
      /></a>
    </p>
    <div class="sosmed">
      <a style="padding: 10px" href="#"
        ><img src="assets/img/instagram.png"
      /></a>
      <a style="padding: 10px" href="#"
        ><img src="assets/img/facebook.png"
      /></a>
      <a style="padding: 10px" href="#"
        ><img src="assets/img/git.png"
      /></a>
    </div>
  </div>
  <div class="profil">
    <img
      src="assets/img/profile.jpg"
      style="
        display: flex;
        justify-content: right;
        width: 200px;
        border: 1px solid rgb(204, 197, 197);
        border-radius: 15px;
      "
    />
    <h2 style="text-align: center">Alfin abdussalam</h2>
    <p style="text-align: center">Fullstack Developer</p>
  </div>
</div>
{{/layout}}
