{{#> layout currentPage="Project"}}
    
    <div class="bg-preview">
      <div class="add">
        <a class="add-btn" href="/views/project-create.hbs">Create Project</a>
      </div>
      <h2 class="project-title">My Project</h2>
      <div class="container-prview">
        <div class="card-preview">
          <div class="card-image">
            <img class="card-img" src="assets/img/gambar.jpg" alt="Card Image" />
          </div>
          <div class="card-content">
            <h2 class="card-title">Card Title</h2>
            <p class="card-date">Posted on: <span>December 10, 2024</span></p>
            <p class="card-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
              sit amet accumsan arcu.
            </p>
            <div class="card-actions">
              <button class="edit-btn">Edit</button>
              <button class="delete-btn">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div
        id="no-data-message"
        style="display: none; color: red; text-align: center"
      >
        Data belum tersedia.
      </div>
    </div>
{{/layout}}